## Problem Statement

#### In Pakistan, the property sector plays a huge role in the economic development. After agriculture, it s one of the hot and in demand sector of investment for Pakistani people. Property prices in Pakistan are drived by some major factors which include Property location, type, size and facilities near the property location and most important the status of the location.

### Libraries

In [1]:
import pandas as pd
import numpy as np

### Dataset Loading

In [2]:
data_path =r'C:\Users\abdul\OneDrive\Desktop\AI-Cohort15\Projects\zameen-eda-project\data\Scarped Zameen.com.xlsx'
zameen_df=pd.read_excel(data_path)
zameen_df ## loading dataset

,Title,URL,City,Type,Area,Price,Purpose,Location,Description,Built in year,...,Nearby Schools,Nearby Hospitals,Nearby Shopping Malls,Nearby Restaurants,Distance From Airport (kms),Nearby Public Transport Service,Other Nearby Places,Maintenance Staff,Security Staff,Other Facilities
0,Hmr Waterfront 2 Bed Room Premium Apartment On...,https://www.zameen.com/Property/dha_phase_8_hm...,Karachi,Flat,128 Sq. Yd.,PKR\n4.75 Crore,For Sale,"DHA Defence, Karachi, Sindh",SAIMA MARINA RESIDENCE HMR WATERFRONT\nINVESTO...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Chance Deal! Luxury 2 Bedroom Seafront Apartme...,https://www.zameen.com/Property/dha_defence_dh...,Karachi,Flat,161 Sq. Yd.,PKR\n6.25 Crore,For Sale,"DHA Defence, Karachi, Sindh",Live the Seafront Dream at H&S Residence \n2 B...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Luxury 1 Bed At H& S Residence By Japanese Arc...,https://www.zameen.com/Property/dha_phase_8_hm...,Karachi,Flat,111 Sq. Yd.,PKR\n3.45 Crore,For Sale,"DHA Defence, Karachi, Sindh",Live the Seafront Dream at H&S Residence \n1 B...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Luxury 1 Bed Seafront Apartment at HMR waterfr...,https://www.zameen.com/Property/dha_phase_8_hm...,Karachi,Flat,106 Sq. Yd.,PKR\n2.98 Crore,For Sale,"DHA Defence, Karachi, Sindh",Chance Deal at HMR Waterfront 1-Bed Apartment ...,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2 Bed Apartment For Booking On 3 Years | Saima...,https://www.zameen.com/Property/dha_phase_8_hm...,Karachi,Flat,156 Sq. Yd.,PKR\n4.65 Crore,For Sale,"DHA Defence, Karachi, Sindh",HMR WATERFRONT \n\nOwn Your Dream Apartment in...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18250,10 Marla Double Storey House Available For At...,https://www.zameen.com/Property/nowshera_armou...,Nowshera,House,10 Marla,PKR\n40 Thousand,For,"Armour Colony, Nowshera, Khyber Pakhtunkhwa",Malik Real Estate and Builders Take your pick ...,2024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18251,2 Marla Double Storey House For In Okara Shah...,https://www.zameen.com/Property/okara_shah_din...,Okara,House,2 Marla,PKR\n14 Thousand,For,"Shah Din Road, Okara, Punjab",NaN,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18252,8 Marla Single Story House Is Available For I...,https://www.zameen.com/Property/okara_umer_din...,Okara,House,8 Marla,PKR\n40 Thousand,For,"Umer Din Town, Okara, Punjab",8 Marla Single Story House Is Available For I...,2024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18253,Beautiful House For In Attock Cantt,https://www.zameen.com/Property/attock_cantt_b...,Attock,House,1 Kanal,PKR\n1 Lakh,For,"Cantt, Attock, Punjab",NaN,2021.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18254,10 Marla House Available For,https://www.zameen.com/Property/dera_ghazi_kha...,Dera Ghazi Khan,House,10 Marla,PKR\n60 Thousand,For,"Drishak Town, Dera Ghazi Khan, Punjab",NaN,2024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Basic

In [3]:
zameen_df.info() ## basic info about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18255 entries, 0 to 18254
Data columns (total 59 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Title                            18239 non-null  object
 1   URL                              18255 non-null  object
 2   City                             18255 non-null  object
 3   Type                             18239 non-null  object
 4   Area                             18239 non-null  object
 5   Price                            18239 non-null  object
 6   Purpose                          18239 non-null  object
 7   Location                         18239 non-null  object
 8   Description                      14893 non-null  object
 9   Built in year                    11940 non-null  float64
 10  Parking Spaces                   9656 non-null   float64
 11  Double Glazed Windows            0 non-null      float64
 12  Central Air Conditioning         0 non-null      float64
 13  Central Heating                  0 non-null      float64
 14  Flooring                         0 non-null      float64
 15  Electricity Backup               0 non-null      float64
 16  Waste Disposal                   0 non-null      float64
 17  Floors                           8366 non-null   float64
 18  Other Main Features              0 non-null      float64
 19  Furnished                        0 non-null      float64
 20  Bedrooms                         18239 non-null  object
 21  Bathrooms                        18239 non-null  object
 22  Servant Quarters                 9657 non-null   float64
 23  Drawing Room                     0 non-null      float64
 24  Dining Room                      0 non-null      float64
 25  Kitchens                         13256 non-null  float64
 26  Study Room                       0 non-null      float64
 27  Prayer Room                      0 non-null      float64
 28  Powder Room                      0 non-null      float64
 29  Store Rooms                      9719 non-null   float64
 30  Steam Room                       0 non-null      float64
 31  Lounge or Sitting Room           0 non-null      float64
 32  Laundry Room                     0 non-null      float64
 33  Other Rooms                      0 non-null      float64
 34  Broadband Internet Access        0 non-null      float64
 35  Satellite or Cable TV Ready      0 non-null      float64
 36  Intercom                         0 non-null      float64
 37  Community Lawn or Garden         0 non-null      float64
 38  Community Swimming Pool          0 non-null      float64
 39  Community Gym                    0 non-null      float64
 40  First Aid or Medical Centre      0 non-null      float64
 41  Day Care Centre                  0 non-null      float64
 42  Kids Play Area                   0 non-null      float64
 43  Barbeque Area                    0 non-null      float64
 44  Mosque                           0 non-null      float64
 45  Community Centre                 0 non-null      float64
 46  Lawn or Garden                   0 non-null      float64
 47  Sauna                            0 non-null      float64
 48  Jacuzzi                          0 non-null      float64
 49  Nearby Schools                   0 non-null      float64
 50  Nearby Hospitals                 0 non-null      float64
 51  Nearby Shopping Malls            0 non-null      float64
 52  Nearby Restaurants               0 non-null      float64
 53  Distance From Airport (kms)      0 non-null      float64
 54  Nearby Public Transport Service  0 non-null      float64
 55  Other Nearby Places              0 non-null      float64
 56  Maintenance Staff                0 non-null      float64
 57  Security Staff                   0 non-null      float64
 58  Other Facilities                 0 non-null      float64
dtypes: float64(48), object(11)
memory usage: 8.2+ MB

#### Drop Duplicates

In [4]:
zameen_df.drop_duplicates(inplace=True) ## dropping duplicates

#### Removing extra Items

In [5]:
zameen_df['Price']=zameen_df['Price'].str.replace('PKR','').str.replace(',','').str.replace('\n','') ## Removing PKR, ','  and '\n' from Price column
zameen_df['Area']=zameen_df['Area'].str.replace(',','') ## Removing PKR, ','  and '\n' from Price column

In [6]:
zameen_df['Area']

0        128 Sq. Yd.
1        161 Sq. Yd.
2        111 Sq. Yd.
3        106 Sq. Yd.
4        156 Sq. Yd.
            ...
18250       10 Marla
18251        2 Marla
18252        8 Marla
18253        1 Kanal
18254       10 Marla
Name: Area, Length: 18255, dtype: object

#### Converting Marla, Sq.YD and Kanal to Sq Ft

In [7]:
def convert(area_str):
    area_value=0
    if isinstance(area_str,str):
        if 'Marla'in  area_str or 'marla' in area_str:
            area_value=float(area_str.split(' ')[0])*225
        elif 'Kanal' in area_str or 'kanal' in area_str:
            area_value=float(area_str.split(' ')[0])*5445
        elif 'Sq. Yd.' in area_str or 'Sq. Yd' in area_str:
            area_value=float(area_str.split(' ')[0])*9
        else:
            None
    else:
        return area_str
    return area_value

In [8]:
zameen_df['Area']=zameen_df['Area'].apply(convert)

In [9]:
zameen_df['Area']

0        1152.0
1        1449.0
2         999.0
3         954.0
4        1404.0
          ...
18250    2250.0
18251     450.0
18252    1800.0
18253    5445.0
18254    2250.0
Name: Area, Length: 18255, dtype: float64

#### Price Conversion

In [10]:
def convert_price(price_str):
    price_value = 0
    if isinstance(price_str, str):
        # Remove commas
        price_str = price_str.replace(',', '')
        
        if 'Crore' in price_str or 'crore' in price_str:
            price_value = float(price_str.split(' ')[0]) * 10000000
        
        elif 'Lakh' in price_str or 'lakh' in price_str:
            price_value = float(price_str.split(' ')[0]) * 100000
        
        elif 'Thousand' in price_str or 'thousand' in price_str:
            price_value = float(price_str.split(' ')[0]) * 1000
    else:
        return price_str
    
    return price_value

In [11]:
zameen_df['Price']=zameen_df['Price'].apply(convert_price)

### Missing Values

In [12]:
zameen_df.isna().sum() ## checking missing values

Title                                 16
URL                                    0
City                                   0
Type                                  16
Area                                  16
Price                                 16
Purpose                               16
Location                              16
Description                         3362
Built in year                       6315
Parking Spaces                      8599
Double Glazed Windows              18255
Central Air Conditioning           18255
Central Heating                    18255
Flooring                           18255
Electricity Backup                 18255
Waste Disposal                     18255
Floors                              9889
Other Main Features                18255
Furnished                          18255
Bedrooms                              16
Bathrooms                             16
Servant Quarters                    8598
Drawing Room                       18255
Dining Room                        18255
Kitchens                            4999
Study Room                         18255
Prayer Room                        18255
Powder Room                        18255
Store Rooms                         8536
Steam Room                         18255
Lounge or Sitting Room             18255
Laundry Room                       18255
Other Rooms                        18255
Broadband Internet Access          18255
Satellite or Cable TV Ready        18255
Intercom                           18255
Community Lawn or Garden           18255
Community Swimming Pool            18255
Community Gym                      18255
First Aid or Medical Centre        18255
Day Care Centre                    18255
Kids Play Area                     18255
Barbeque Area                      18255
Mosque                             18255
Community Centre                   18255
Lawn or Garden                     18255
Sauna                              18255
Jacuzzi                            18255
Nearby Schools                     18255
Nearby Hospitals                   18255
Nearby Shopping Malls              18255
Nearby Restaurants                 18255
Distance From Airport (kms)        18255
Nearby Public Transport Service    18255
Other Nearby Places                18255
Maintenance Staff                  18255
Security Staff                     18255
Other Facilities                   18255
dtype: int64

In [13]:
percentage_missing= (zameen_df.isna().sum()/zameen_df.shape[0])*100
percentage_missing ## percentage of missing values

Title                                0.087647
URL                                  0.000000
City                                 0.000000
Type                                 0.087647
Area                                 0.087647
Price                                0.087647
Purpose                              0.087647
Location                             0.087647
Description                         18.416872
Built in year                       34.593262
Parking Spaces                      47.104903
Double Glazed Windows              100.000000
Central Air Conditioning           100.000000
Central Heating                    100.000000
Flooring                           100.000000
Electricity Backup                 100.000000
Waste Disposal                     100.000000
Floors                              54.171460
Other Main Features                100.000000
Furnished                          100.000000
Bedrooms                             0.087647
Bathrooms                            0.087647
Servant Quarters                    47.099425
Drawing Room                       100.000000
Dining Room                        100.000000
Kitchens                            27.384278
Study Room                         100.000000
Prayer Room                        100.000000
Powder Room                        100.000000
Store Rooms                         46.759792
Steam Room                         100.000000
Lounge or Sitting Room             100.000000
Laundry Room                       100.000000
Other Rooms                        100.000000
Broadband Internet Access          100.000000
Satellite or Cable TV Ready        100.000000
Intercom                           100.000000
Community Lawn or Garden           100.000000
Community Swimming Pool            100.000000
Community Gym                      100.000000
First Aid or Medical Centre        100.000000
Day Care Centre                    100.000000
Kids Play Area                     100.000000
Barbeque Area                      100.000000
Mosque                             100.000000
Community Centre                   100.000000
Lawn or Garden                     100.000000
Sauna                              100.000000
Jacuzzi                            100.000000
Nearby Schools                     100.000000
Nearby Hospitals                   100.000000
Nearby Shopping Malls              100.000000
Nearby Restaurants                 100.000000
Distance From Airport (kms)        100.000000
Nearby Public Transport Service    100.000000
Other Nearby Places                100.000000
Maintenance Staff                  100.000000
Security Staff                     100.000000
Other Facilities                   100.000000
dtype: float64

In [14]:
### Dropping columns with 50% or more than 50% missing values
columns_to_drop= zameen_df.loc[:, percentage_missing>=50]

In [15]:
zameen_df=zameen_df.drop(columns_to_drop.columns,axis=1)
zameen_df

,Title,URL,City,Type,Area,Price,Purpose,Location,Description,Built in year,Parking Spaces,Bedrooms,Bathrooms,Servant Quarters,Kitchens,Store Rooms
0,Hmr Waterfront 2 Bed Room Premium Apartment On...,https://www.zameen.com/Property/dha_phase_8_hm...,Karachi,Flat,1152.0,47500000.0,For Sale,"DHA Defence, Karachi, Sindh",SAIMA MARINA RESIDENCE HMR WATERFRONT\nINVESTO...,NaN,NaN,2,2,NaN,NaN,NaN
1,Chance Deal! Luxury 2 Bedroom Seafront Apartme...,https://www.zameen.com/Property/dha_defence_dh...,Karachi,Flat,1449.0,62500000.0,For Sale,"DHA Defence, Karachi, Sindh",Live the Seafront Dream at H&S Residence \n2 B...,NaN,NaN,2,3,NaN,1.0,NaN
2,Luxury 1 Bed At H& S Residence By Japanese Arc...,https://www.zameen.com/Property/dha_phase_8_hm...,Karachi,Flat,999.0,34500000.0,For Sale,"DHA Defence, Karachi, Sindh",Live the Seafront Dream at H&S Residence \n1 B...,NaN,NaN,1,2,NaN,NaN,NaN
3,Luxury 1 Bed Seafront Apartment at HMR waterfr...,https://www.zameen.com/Property/dha_phase_8_hm...,Karachi,Flat,954.0,29800000.0,For Sale,"DHA Defence, Karachi, Sindh",Chance Deal at HMR Waterfront 1-Bed Apartment ...,2.0,1.0,1,2,1.0,4.0,1.0
4,2 Bed Apartment For Booking On 3 Years | Saima...,https://www.zameen.com/Property/dha_phase_8_hm...,Karachi,Flat,1404.0,46500000.0,For Sale,"DHA Defence, Karachi, Sindh",HMR WATERFRONT \n\nOwn Your Dream Apartment in...,NaN,NaN,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18250,10 Marla Double Storey House Available For At...,https://www.zameen.com/Property/nowshera_armou...,Nowshera,House,2250.0,40000.0,For,"Armour Colony, Nowshera, Khyber Pakhtunkhwa",Malik Real Estate and Builders Take your pick ...,2024.0,1.0,5,5,1.0,2.0,1.0
18251,2 Marla Double Storey House For In Okara Shah...,https://www.zameen.com/Property/okara_shah_din...,Okara,House,450.0,14000.0,For,"Shah Din Road, Okara, Punjab",NaN,2022.0,NaN,2,2,NaN,1.0,1.0
18252,8 Marla Single Story House Is Available For I...,https://www.zameen.com/Property/okara_umer_din...,Okara,House,1800.0,40000.0,For,"Umer Din Town, Okara, Punjab",8 Marla Single Story House Is Available For I...,2024.0,3.0,3,3,1.0,2.0,NaN
18253,Beautiful House For In Attock Cantt,https://www.zameen.com/Property/attock_cantt_b...,Attock,House,5445.0,100000.0,For,"Cantt, Attock, Punjab",NaN,2021.0,1.0,6,5,NaN,1.0,NaN
18254,10 Marla House Available For,https://www.zameen.com/Property/dera_ghazi_kha...,Dera Ghazi Khan,House,2250.0,60000.0,For,"Drishak Town, Dera Ghazi Khan, Punjab",NaN,2024.0,NaN,4,3,1.0,2.0,1.0

#### Data Imputaion

In [16]:
zameen_df.isna().sum() ## checking missing values after dropping columns

Title                 16
URL                    0
City                   0
Type                  16
Area                  16
Price                 16
Purpose               16
Location              16
Description         3362
Built in year       6315
Parking Spaces      8599
Bedrooms              16
Bathrooms             16
Servant Quarters    8598
Kitchens            4999
Store Rooms         8536
dtype: int64

In [17]:
categorical_columns=zameen_df.select_dtypes(include='object').columns
numeric_columns=zameen_df.select_dtypes(include='float64').columns

print('Categorical Columns: ',categorical_columns)
print('Numeric_Columns: ',numeric_columns)

Categorical Columns:  Index(['Title', 'URL', 'City', 'Type', 'Purpose', 'Location', 'Description',
       'Bedrooms', 'Bathrooms'],
      dtype='object')
Numeric_Columns:  Index(['Area', 'Price', 'Built in year', 'Parking Spaces', 'Servant Quarters',
       'Kitchens', 'Store Rooms'],
      dtype='object')